* {
font-family: "Open Sans";
}
html{
	width: 100%;
}
body {
	padding: 0;
	margin: auto;
	background-color: #FFFFFF;
	width: 100%;
}

/**
			HEADER
**/
div.link{
float: left;
margin-top: -50px;
margin-left: 0px;
}

#icon{
	margin-left: 30px;
}
.header{
	background-color: #fab1a0;
	display: flex;
	justify-content: center space-between;
	width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
		justify-content: space-around;
    margin:0;
    padding: 0;
    list-style: none;
}

.menu2{
	display: flex;
	align-items: center ;
	flex-direction: row ;
	margin:auto;
	padding: 0;
	list-style: none;
	background: #fab1a0;
	width: 100%
}


.menu li{
	display: flex;
	align-items: center;
	padding-left: 15px;
    height: 68px;
    line-height: 68px;
    color: white;
    width:83px;
    font-size: 12px;
}

.menu2 li{
	display: flex;
	align-items: center;
  height: 68px;
  line-height: 14px;
  color: white;
  width:60px;
  font-size: 12px;
}

img{
	width: 30px;
}
/**
			MENU HEADER/FOOTER
**/
.menu a:hover {
    border-bottom: 3px solid white;
}

.menu2 a:hover {
    border-bottom: 3px solid white;
}


.menu a {
    color:white;
    text-decoration: none;
    padding-bottom: 4px;
}
/**
			MENU FOOTER
**/
#padd{
	margin-right: 50px
}
footer {
	background-color: #fab1a0;
	list-style: none;
	padding: 0px;
	margin: 0;
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	left: 0px;
	height: 60px;
}
.footerUp{
	display: flex;
	flex-flow: row;
	width: 100%;
	padding-bottom: 40px;
}

.footerUp ul{
	display: flex;
	flex-flow: row;
	margin: 0
}

li{
	margin: 0;
	padding: 0;
}
div.footerRight{
display: flex;
justify-content: flex-end;
width: 40%;
}

.footerRight a{
width: 40px;
}

div#searchbar{
width: 36%
}
