body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background: #FFFAFA;
  font-family: 'Open Sans', sans-serif;
}
#game{
  margin: 250px auto 0px auto;
  width:960px;
  height:500px;
}
#gameSelection{
  display:flex;
  height:500px;
}
.gameSelectionText{
  font-size: 4em;
}
#menuColor1{
  cursor: pointer;
  color:white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background: #0984e3;
  width:50%;
  height:100%;
  transition: width 1s ease;
}
#menuColor1:hover {
  width: 100%;
}
#menuColor2{
  cursor: pointer;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background:#fdcb6e;
  width:50%;
  height:100%;
  transition: width 1s ease;
}
#menuColor2:hover{
  width:100%;
}
#arcade{
  background: #0984e3;
  width:100%;
  height:100%;
  display: none;
  text-align: center;
}
#relax{
  background:#fab1a0;
  width:100%;
  height:100%;
  display:none;
}

#myProgress{
  user-select: none;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height:50px;
  background-color: #ff7675;
}
#myProgress:active{
  transform:translateY(3px);
}
#myBar{
  position:absolute;
  top:0px;
  width: 1%;
  height: 100%;
  background-color: #55efc4;
}
#myProgress span{
  color:white;
  position:absolute;
  right:43%;
  font-size:2em;
}
#result{
  position:fixed;
  top:53%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width:600px;
  background:#0984e3;
  display:none;
}
#result div{
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 5em;
  text-align: center;
}

#result div:first-child{
  margin:145px auto 0px auto;
  font-family: 'Jua', sans-serif;
}
#Go{
  cursor: pointer;
  position:fixed;
  top:53%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width:960px;
  background:#0984e3;
  display:none;
  opacity:0.9;
  text-align: center;
}
#Go span{
  color:white;
  font-size: 5em;
  font-weight: bold;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
